@font-face {
    font-family: letra;
    src: url('../fonts/JosefinSans-Italic-VariableFont_wght.ttf');
}
.fontbold{
    font-family: letra;
    -webkit-text-fill-color: rgb(255, 255, 255);
    /* -webkit-text-stroke: 1px black; */
    
}
.font{
    font-family: letra;
    
}
.peque{
    font-size: 16px;
}
.mid{
    font-size: 18px;
}
.gran{
    font-size: 22px;
}
.imgnav{
    width: 100%;
    background-image: url(../img/15-Presentation-Background-Examples33.png);
    background-size: 100vw;
    background-repeat: no-repeat;
    overflow: auto;
    
}
.blanco{
    color: white;
}
* {
	margin:0;
	padding:0;
	color:black;
}
.img-tamaño{
	
	height: 275px;
	
}